@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,100');


/* *********************** IMAGENES RGV **************************************** */

.icon{
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-page{
  width: 72px;
  height: 72px;
  vertical-align: middle;
  font-family: "STHeitiTC-Medium", "Heiti TC", "Open Sans";
}

.icon-stars{
  width: 13.41px;
  height: 13.7px;
  margin-left: .3em;
}

.icon-instagram, .icon-youtube, .icon-facebook, .icon-twiter, .icon-prezi{
  width: 70px;
  height: 70px;
  margin: .3em;
  vertical-align: middle;
}

/* *********************** FIN IMAGENES RGV **************************************** */



/* *********************** DISEÑO BASE DE LA PAGINA *************************************************** */

/* Diseño general sobre los contenedores principales ++++++++++++++++++++++++++++++++++++++++++++++++++ */

body, html{
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Heiti TC", "Helvetica Neue";
  font-size: 10px;
  background: #F4F4F4;
}

.wrapper-main{
  display: block;
}

.wrapper{
  max-width: 960px;
  margin: 0px auto;
  /*display: flex;*/
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* Sección cabecera de la pagina ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.header__flex {
  display: flex; 
}

.header {
  background: #081C24;
  height: 124px;
  padding-top: 25px;
  box-sizing: border-box;
}

.header__title{
  font-size: 1.7rem; /* elemento body */
  margin: 0px 0px 0px 12px;
  color: #FFF;
  font-weight: 100;
  align-self: center; 
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* Sección de descripción de la pagina +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.description {
  background: linear-gradient(#6FA296, #697977); /* Degradado lineal usando un Gradinte */
  padding-top: 1.8em;
  padding-bottom: 2.7em;
  color: #FFF;
  font-weight: 400;
  font-size: 2rem;
}

.description__flex {
  display: flex;
  align-items: flex-start;
}

.description__image-content {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 198%;
}

.description__content {
  margin-left: 1em;
}

.porcentages__text{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: .3em;
}

.image-descrip{
  width: 100%;
}

.description__title {
  font-size: 3rem;
  font-weight: 400;
  margin: 0px;
}

.description__text {
  padding-right: 1.2em;
  font-size: 1.5rem;
}

.description__directors {
  font-size: 1rem;
  font-size: 1.2rem;
}

.description__porcentages {
  display: inline-block;
  width: 60px;
  line-height: 300%;
  text-align: center;
  border-radius: 100%;
  margin: .6em 0em 0em 0em; 
  background: #535D65;
}

.description__subtitle {
  font-weight: 300;
  font-size: 1.5rem;
}

.description--margin {
  margin-top: 6rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* seccion de elenco de la pagina ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.elenco {
  margin-bottom: 6em;
  font-size: 1.2rem;
}

.elenco__flex {
  display: flex;
  justify-content: space-between;
}

.elenco__item {
  width: 15%;
}

.elenco__fill {
  width: 100%;
  padding: 10rem 0em;
  background: #9EB0B9;
}

.elenco__decription{
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  padding: 1em;
}

.elenco__decription p{
  margin: 0px;
  padding: .1em 0em;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* seccion de Datos de la pagia ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.datos {
  margin-bottom: 3em;
  font-size: 1.2rem;
}

.table__datos {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  margin-bottom: 2.5em;
}

.general__title {
  margin: 0px;
  padding: 1.8em 0em; 
  font-size: 2rem;
}

.relacion__flex {
  display: flex;
  justify-content: space-between;
}

.relacion__item {
  width: 49%;
  display: flex;
}

.content__relacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.iten__datos {
  border-radius: 15px;
  display: inline-block;
  padding: .4em 1.1em;
  margin-right: 0.5em;
  margin-bottom: 0.7em;
  background: #50E3C2;  
  color: #535D65;
  text-align: center;
}

.design-relacionadas{
  background: #34606F;
  padding: 13em 0em;
  width: 40%;      
}

.description__relacion {
  padding: 2.3em 2.3em 2.9em 2.3em;
  position: relative;
}

.title-relacion {
  margin-top: 2.8rem;
}

.more-info__relacion {
  border-top:1px solid #EFEFEF;
  padding: 2em;
}

.more-info__relacion a{
  text-decoration: none;
  color: #000;
}

.description__relacion h2{
  display: inline-block;
  margin-right: 40%;
  margin-top: 0em;
}

.main-box{
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.04);
  border-radius: 2px;
}

.box-left{
  background: #34606F;
}

.box-rigth{
  background: #9E90A5;
}

.like__relacion {
  display: inline-block;
  right: 27px;
  top: 27px;
  position: absolute;
  margin-bottom: .7em;
}

.like-page__relacion {
  display: inline-block;
  font-size: 1.8rem;
}

.years__relacion {
  margin-right: 2em;
  display: inline-block;
}

.generos__relacion {
  display: inline;
  text-align: right;
}

.ads-section {
  margin: 1.5em 0em;
  font-size: 1.5em;
}
.view__ads-section {
  background: #000;
  padding: 7rem;
  margin-bottom: 7rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*footer de la pagina ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.footer-section{
  background: #535D65;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 7rem 0rem;
}

.text__footer-section {
  display: inline-block;
  color: #FFF;
  font-size: 2.5rem;
  margin-right: 1em;
  vertical-align: middle;
}

.info-footer {
  background: #4C5358;
  width: 100%;
  padding: 2rem 0em;
  text-align: center;
  color: #FFF;
}

.main__info-footer {
  margin-bottom: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main__info-footer a, .main__info-footer p{
  color: #FFF;
  font-size: 1.3rem;
  text-decoration: none;
}

.main__info-footer a:hover{
  color: #000;
  border-bottom: 1px solid;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* *********************** FIN DISEÑO BASE DE LA PAGINA ***************************************** */


/* *********************** MEDIA QUERYS ********************************************************* */


@media only screen and (max-width: 800px) {

  .design-relacionadas {
      width: 100%;
  }

  .content__relacion {
      width: 100%;
  }

  .relacion__item {
      flex-direction: column;
  }

}



@media only screen and (max-width: 1023px) {

  .elenco__flex {
    flex-flow: row wrap;
  }

  .elenco__item {
    width: 32%;
  }

  .margin-resize {
    margin-bottom: 1.8rem;
  }

  .wrapper {
    padding: 1.4rem;
  }

  .header {
    padding-top: 15px;
  }

}


@media only screen and (max-width: 635px) {
  .table__datos {
    font-size: 1rem;
  }

  .icon-instagram, .icon-youtube, .icon-facebook, .icon-twiter, .icon-prezi{
    width: 55px;
    height: 55px;
  }

  .description__image-content {
    min-width: 132px;
  }
}

@media only screen and (max-width: 475px) {
  .wrapper{
    padding: 1rem;
  }

  .header {
    padding-top: 17px;
  }

  .description {
    padding-top: 1.2em;
    padding-bottom: 1.5em;
  }

  .description__content {
      margin-left: 0em;
  }

  .icon-page{
    margin-left: 1.5em;
  }

  .description--margin {
    margin-top: 2rem;
  }

  .table__datos {
    font-size: .7rem;
  }

  .elenco {
    margin-bottom: 2em;
  }

  .elenco__item {
    width: 100%;
  }

  .main__info-footer a, .main__info-footer p{
    font-size: 1rem;
  }

  .icon-instagram, .icon-youtube, .icon-facebook, .icon-twiter, .icon-prezi{
    width: 52px;
    height: 52px;
    margin: .01em;
  }

  .text__footer-section {
    display: block;
    font-size: 1.5rem;
    margin-right: 0px;
    margin-bottom: 1em;
  }

  .footer-section{
    padding: 5rem 0rem;
    text-align: center;
  }

  .description__title {
    margin: .6em 0em .6em .6em;
  }

  .description__relacion {
    padding: 1.8em 1.8em 2.4em 1.8em;
  }

  .like__relacion {
    right: 22px;
    top: 22px;
  }

  .description__porcentages{
    margin: 0em 0em 0em .7em; 
  }

  .description__subtitle {
    font-weight: 300;
    margin-left: 1.1em;
    margin-bottom: 0em;
  }

  .description__text {
    padding: 1.2em;
    font-size: 1.2rem;
  }

  .description__directors {
    margin-left: 1.2em;
    font-size: 1.2rem;
  }

  .relacion__flex {
    flex-wrap: wrap;
  }

  .margin-resize-movil {
    margin-bottom: 1.8rem;
  }

  .relacion__item {
      width: 100%;
  }

  .description__flex {
    flex-wrap: wrap;
  }

  .description__image-content {
    width: 100%;
  }

}

/* *********************** FIN MEDIA QUERYS ******************************************************* */
