@media only screen and (max-width: 895px) {

  .whole-resize {
    width: 100%;
  }

}

@media only screen and (max-width: 1023px) {
  .margin-resize {
    margin-bottom: 1.8rem;
  }

  .wrapper{
    padding: 1.4rem;
  }

  .header-section{
    padding-top: 15px;
  }

}

@media only screen and (max-width: 480px) {
  .margin-resize-movil {
    margin-bottom: 1.8rem;
  }
}

@media only screen and (max-width: 635px) {
  .table-datos{
    font-size: 1rem;
  }

  .icon-instagram, .icon-youtube, .icon-facebook, .icon-twiter, .icon-prezi{
    width: 55px;
    height: 55px;
  }
}

@media only screen and (max-width: 475px) {
  .wrapper{
    padding: 1rem;
  }

  .header-section{
    padding-top: 17px;
  }

  .descrip-section{
    padding-top: 1.2em;
    padding-bottom: 1.5em;
  }

  .icon-page{
    margin-left: 1.5em;
  }

  .final{
    margin-top: 2rem;
  }

  .table-datos{
    font-size: .7rem;
  }

  .elenco-section {
    margin-bottom: 2em;
  }

  .info-footer a, .info-footer p{
    font-size: 1rem;
  }

  .info-footer{
    padding: 2rem 0rem;
  }

  .icon-instagram, .icon-youtube, .icon-facebook, .icon-twiter, .icon-prezi{
    width: 52px;
    height: 52px;
    margin: .01em;
  }

  .text-folow{
    display: block;
    font-size: 1.5rem;
    margin-right: 0px;
    margin-bottom: 1em;
  }

  .footer-section{
    padding: 5rem 0rem;
  }

  .descrip-title{
    margin: .6em 0em .6em .6em;
  }

  .design-text{
    padding: 1.8em 1.8em 2.4em 1.8em;
  }

  .like-content{
    right: 22px;
    top: 22px;
  }

  .porcentajes{
    margin: 0em 0em 0em .7em; 
  }

  .normal-letter{
    font-weight: 300;
    margin-left: 1.1em;
    margin-bottom: 0em;
  }

  .descrip-text{
    padding: 1.2em;
    font-size: 1.2rem;
  }

  .descrip-directors{
    margin-left: 1.2em;
    font-size: 1.2rem;
  }

}





















